[Desktop Entry]
Exec=~/.local/share/text2srt/text2srt.sh
Icon=none
Type=Application
Terminal=false
Name=Text2SRT
Categories=Utility;
Comment=
Path=
StartupNotify=false
